.bg_black{
    background-color: var(--color-background-black);
}
.bg_gray{
    background-color: var(--color-background-gray);
}
.bg_gray_2{
    background-color: var(--color-background-gray-2);
}
.bg_yellow{
    background-color: var(--color-background-yellow);
}
.text_white{
    color: var(--color-text-white);
}
.text_yellow{
    color: var( --color-text-yellow);
}
.text_gray{
    color: var(--color-text-gray);
}
.font_dm_san{
    font-family: var(--font-dmsan);
}
.font_forum{
    font-family: var(--font-forum);
}
.obj_cover{
    object-fit: cover;
}
/* <!-- ------MAIN------ --> */
.padding{
    padding: 80px;
}
.yellow_title{
    letter-spacing:5px;
    font-size: 15px;
    font-weight: 800;
    font-family: var(--font-dmsan);
}
.white_title{
    font-size: 50px;
    font-weight: 300;
    font-family: var(--font-forum);
}
.view_menu_title{
    font-size: 40px;
    font-weight: 100;
    font-family: var(--font-forum);
}
.name_of_menu{
    font-size: 20px;
    font-family: var(--font-forum);
}
.chef_name{
    font-size: 33px;
    font-weight: 300;
    font-family: var(--font-forum);
}
.chef_title{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font-dmsan);
}
.main_container_box{
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-text-yellow);
    animation: rotate 3s linear infinite ;
}
@keyframes rotate{
    0%{
        transform: rotate(-360deg);
    }
}
/* <!-- ------MAIN------ --> */
