@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-dmsan:"DM Sans", sans-serif;
    --font-forum:"Forum", serif;
    /* ------text color------ */
    --color-text-white: white;
    --color-text-yellow: #e4c290;
    --color-text-black: black;
    --color-text-gray: rgb(167, 167, 167);
    /* ------color background------ */
    --color_background_black:#0e0d0c;
    --color_background_gray:#171819;
    --color_background_gray_2:#151616;
    --color_background_yellow:#e4c290;


}
html {
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
}
header {
    color: var(--color-text-white);
    background-color: black;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--color-text-white);
}
button {
    background: transparent;
    border: none;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    padding: 10px;
    border-bottom: 2px solid#e4c290;
}
.header_left {
    gap: 20px;
}
.menu_list {
    gap: 20px;
}
.menu_list li:nth-child(2){
    position: relative;
    cursor: pointer;
    
}
.menu_list li:nth-child(2) ul{
opacity: 0;
visibility: hidden;
transition: 0.5s;
cursor: pointer;
}
.menu_list li:nth-child(2):hover ul{
    opacity: 1;
    visibility: visible;
}
.menu_hover{
    position: absolute;
    width: 1000px;
    padding: 50px;
    left: 50%;
    top: 15px;
    
}
.menu_hover_img{
    display: flex;
    gap: 20px;
}
.menu_hover_img li{
    
    width: 50%;
    height: 300px;
    text-align: center;
    font-size: 25px;
    transition: 0.5s;
}
.menu_hover_img li img{
    
    transition: 0.5s;
}
.menu_hover_img li:hover img{
    transform: scale(0.9);
    transition: 0.5s;
}
.header_right {
    gap: 30px;
}
.header_phone {
    gap: 10px;
}
.header_cart_shopping button {
    position: relative;
}
.header_phone p {
    color: var(--color-text-yellow);
}
.header_phone svg {
    fill: #e4c290;
}
.header_cart_shopping span {
    position: absolute;
    top: -10px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: var(--color-text-black);
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.menu_list a {
    position: relative;
}
.menu_list a::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width:0;
    height: 1px;
    background-color: #e4c290;
    transition: 0.5s;

}
.menu_list a:hover::after{
    color: var(--color-text-yellow);
    width: 100%;
}
 .active{
    color: var(--color-text-yellow);
 }
/* <!-- ------HEADER------ --> */


/* <!-- ------FOOTER------ --> */
.footer{
    background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/banner/image-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container_main_footer{
    
    gap: 80px;
    padding: 70px 0;
}
.footer_menu ul{
    font-family: var(--font-dmsan);
    font-weight: 600;
    flex-direction: column;
    gap: 30px;
}
.footer_menu_mid{
    
    position: relative;
    width: 35%;
    height: 500px;
}
.footer_menu_logo{
    width: 100%;
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer_logo_img img{
    padding-bottom: 30px;
    align-content: center;
    width: 35%;
}
.footer_left_line{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
}
.footer_right_line{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.footer_address{
    font-weight: 500;
    font-family: var(--font-dmsan);
    font-size: 18px;
    line-height: 30px;
}
.footer_box{
    gap: 15px;
}
.footer_address,.footer_info_text,.footer_box{
    padding-bottom: 30px;
}
.footer_info{
    flex-direction: column;
}
.footer_info h3{
    font-size: 40px;
    font-weight: 300;
}
.address{
    white-space:nowrap;
}
.footer_button{
    width: 80%;
    position: relative;
}
.footer_button input{
    border: 1px solid white;
    padding-left: 30px;
    width: 100%;
    height: 50px;
}
.footer_button svg{
    position: absolute;
    top: 15px;
    left: 5px;
}
.footer_button button{

position: absolute;
top: 0;
right: 0;
height: 100%;
width: 35%;
background-color: #e4c290;
border: 1px solid var(--color-text-yellow);
transition: 1s;
}
.button_down:hover button {
    
    background-color:var(--color-background-black);
    color: var(--color-text-white);
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--color-text-yellow);
    transition: 0.5s;
}
.code_by p{
    text-align: center;
    padding-bottom: 70px;
}
.back_to_top button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    
}

