
.title{
    font-size: 17px;
    font-weight: 600;
    color: var(--color-text-yellow);
    padding-bottom: 10px;
    letter-spacing:8px;
}
h4{
    color: var(--color-text-white);
    font-family: var(--font-forum);
    font-size: 30px;
    font-weight: 300;
}
p{
    text-align: center;
    color: var(--color-text-gray);
    line-height: 25px;
}
h1{
    font-family: var(--font-forum);
    text-align: center;
    color: var(--color-text-white);
    font-size: 80px;
    font-weight: 300;
    margin: 10px 0;
}
h3{
    padding-bottom: 15px;
    font-size: 50px;
    font-weight: 200;
    font-family: var(--font-forum);
    text-align: center;
}
input{
    padding-left: 20px;
}
textarea{
    padding: 20px 0 0 20px;
}
.img_separator{
    height: 25px;
    width: 170px;
    margin: 10px 0;
}
.main_container_contact{
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/banner/banner-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.container_title_contact{
    flex-direction: column; 
}

.main_container_time{
    background-color: var(--color_background_gray);
    display: flex;
    justify-content: space-around;
    padding: 100px 40px;
}
.container_lunch_time{
    text-align: center;
    flex-direction: column;
}

.main_container_message{
    background-color: black;
    padding: 80px;
}
.container_message_us{
    gap: 50px;
    padding: 70px;
}
.left_side_input{
    padding: 45px 0;
    flex-direction: column;
    gap: 35px;
}
.left_side_input input{
    width: 100%;
    height: 60px;
}
.left_side_input textarea{
    height: 150px;
    width: 610px;
    max-width: 610px;
    min-width: 610px;
}

.left_side_input button{
    background-color: var( --color_background_yellow);
    width: 250px;
    height: 60px;
}
.container_left_side,.container_right_side{
    width: 50%;
}
.container_right_side{
    width: 570px;
    height: 710px;
}