/* ----------MAIN---------- */
.title {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-text-yellow);
    padding-bottom: 10px;
    letter-spacing: 5px;
}

.img_icon {
    width: 100px;
    height: 100px;
}

.img_separator {
    width: 100px;
    margin: 10px 0;
    filter: brightness(0) invert(1);
}

.img_separator_yellow {
    width: 100px;
    margin: 2% 0;
}

.view_menu_button {
    color: var(--color-text-yellow);
    font-weight: 500;
    border: 1px solid #e4c290;
    width: 300px;
    padding: 20px;
    position: relative;
}
.view_menu_button::after{
    content: "";
    position: absolute;
    inset: -1px;
    border: 1px solid var(--color-text-yellow);
    transition: 1s;
    
}
.view_menu_button:hover{
    border: 1px solid;
  box-shadow: inset 0 0 20px rgba(252, 242, 164, 0.5), 0 0 20px rgba(253, 255, 147, 0.2);
    text-shadow: 1px 1px 2px #427388;
    color: var(--color-text-white);
}
.view_menu_button:hover::after {
    inset: -18px; 
    cursor: pointer;
    opacity: 0;
}

.title_h1 {
    display: flex;
    justify-content: center;
}

/* MAIN CONTAINER IMAGE */
.main_container_image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/banner/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.main_container_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.main_container_title h1 {
    width: 800px;
    color: var(--color-text-white);
    font-size: 100px;
    font-weight: 100;
    margin: 10px 0;
}

/* MAIN CONTAINER OFFER */
.main_container_offer{
    position: relative;
}
.slide_right_img{
    position: absolute;
    top: 40px;
    right: 0;
    animation: imgright 3s linear infinite;
}
@keyframes imgright{
 0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
        
    }

    100%{
        transform: translateY(0px);
    }
}
.slide_left_img{
    position: absolute;
    left: 0;
    bottom: 40px;
    animation: imgleft 2s linear infinite;
}
@keyframes imgleft{
0%{
    transform: translateY(25px);
}
50%{
    transform: translateY(0px);
}
100%{
    transform: translateY(25px);
}
}
.main_offer_title,
.main_container_menu_title,
.main_container_exp_title,
.main_container_team_title,
.main_streangth_title {
    flex-direction: column;
}
.main_streangth_title,
.main_container_team_title,
.main_container_menu_title {
    padding-bottom: 50px;
}
.main_offer_title p {
    font-size: 20px;
    margin-top: 20px;
}

.main_container_notch {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.main_notch_img {
    position: relative;
}

.main_after_img {
    width: 150px;
    height: 440px;
    position: absolute;
    top: -10%;
    left: 25%;
    z-index: 1;
    transition: 1s;
}

.main_menu_img {
    overflow: hidden;
    width: 300px;
    height: 350px;
    position: relative;
    z-index: 2;
}

.main_menu_img::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1000px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 100%
    );
    top: -200px;
    left: -500px;
    transform: rotate(40deg);
    transition: 1s;
}

.main_menu_img:hover::after {
    left: 700px;
}

.main_notch_img:hover .main_after_img {
    transform: rotateY(180deg);
}

.main_after_img:hover + .main_menu_img::after {
    left: 700px;
}

.main_view {
    flex-direction: column;
    padding-top: 50px;
}

.main_view h3 {
    color: var(--color-text-white);
}

.main_view a {
    color: var(--color-text-yellow);
    margin-top: 15px;
    font-family: var(--font-dmsan);
    position: relative;
}
.main_view a::after{
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--color_background_yellow);
    transition: 0.5s;
}
.main_view a:hover::after{
    width: 100%;
}
/* MAIN CONTAINER STRENGTH */
.main_strength_menu {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--color-text-white);
}

.main_strength_food {
    flex-direction: column;
    padding: 29px 29px;
    cursor: pointer;
    text-align: center;
}

 .img_icon {
    transition: 1s;
}

.main_strength_food:hover .img_icon {
    transform: rotateY(180deg);
}
.main_strength_food h4{
    font-size: 20px;
    font-family: var(--font-dmsan);
    padding: 20px 0;
}
.main_strength_food p{
    color: var(--color-text-gray);
    font-family: var(--font-dmsan);
}

/* MAIN CONTAINER MENU */
.main_conrainer_menu{
    position: relative;
}
.slide_right{
    position: absolute;
    right: 0;
    bottom: 25px;
    animation: imgleft 2s linear infinite;
    z-index: 1;
}
.slide_left{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 25px;
    animation:imgright 3s linear infinite;
}
.main_container_all_menu {
    flex-direction: column;
}

.main_container_menu_tabs {
    z-index: 2;
    width: 90%;
    border: 1px solid var(--color-text-yellow);
    border-left: none;
    border-right: none;
    margin-bottom: 50px;
    padding: 25px 0;
}

.main_container_menu_tabs ul{
    gap: 40px;
}

.main_container_morning_menu {
    z-index: 2;
    gap: 50px;
}

.main_morning_menu_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main_morning_menu_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.morning_straight_line{
    height: 330px;
    width: 1px;
    background-color: var(--color-text-yellow);
}
.main_menu_food {
    cursor: pointer;
    display: flex;
    gap: 10px;
}
.main_menu_food:hover .main_menu_food_img img{
    transform: scale(1.1);
    
}
.main_menu_food, .main_menu_food_img img {
    transition: 0.5s;
    overflow: hidden;
}
.main_menu_food_img {
    width: 90px;
    height: 90px;
    
}

.main_menu_food_name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main_menu_food_name p{
    font-family: var(--font-dmsan);
    color: var(--color-text-gray);
    font-size: 15px;
    font-weight: 500;
}
.main_menu_food_price {
    align-items: first baseline;
}

.main_menu_food_price h5 {
    width: 36%;
}

.main_menu_line {
    width: 100%;
    height: 1px;
    background-color: var(--color-text-yellow);
}

.menu_open_tinme {
    padding: 20px 0 0 0;
    flex-direction: column;
}

.menu_open_tinme h5 {
    padding: 20px 0;
    font-size: 17px;
    font-weight: 900;
}

.menu_open_tinme h5 span {
    color: var(--color-text-yellow);
}

/* MAIN CONTAINER TEAM */
.main_container_team{
    position: relative;
}
.left_slide{
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 20px;
    animation: imgleft 2s linear infinite;
}
.main_container_team_img {
    gap: 20px;
}

.chef_img {
    z-index: 2;
    width: 400px;
}
.chef_member_img{
    
    overflow: hidden;
    position: relative;
}
.chef_member_img img{
    transition: 0.5s;
}
.chef_member_img:hover img{
    transition: 0.5s;
    transform: scale(1.1);
}
.chef_member_social{
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
}
.chef_member_img:hover .chef_member_social{
    left: 0;
    top: 0;
}
.chef_member_social ul{
    gap: 20px;
}
.chef_member_social svg{
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--color_background_black);
    border-radius: 50%;
}
 li:hover a svg{
    background-color: var(--color_background_yellow);
}
.chef_information {
    width: 85%;
}

.chef_information h2 {
    padding: 20px 0;
}
.chef_information p{
    color: var(--color-text-gray);
    font-family: var(--font-dmsan);
    padding-top: 20px;
}


/* MAIN CONTAINER EXPERIENCE */
.main_container_exp {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(./img/banner/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.main_container_exp h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    font-family: var(--font-forum);
    margin: 40px 0;
}

.main_container_exp p {
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 4px;
    font-family: var(--font-dmsan);
}

.main_container_exp_title h3 {
    font-size: 50px;
    margin: 40px 0;
}
.main_container_play_button{
    position: relative;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.main_container_play_button::after{
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 1px solid white;
    animation: play 1.5s linear infinite;
}
@keyframes play{
    0%{
        
        width: 100%;
        height: 100%;
    }
    100%{
        opacity: 0;
        width: 150px;
        height: 150px;
    }
}
.main_container_bigbox {
    margin-top: 40px;
    gap: 15px;
}

.main_container_line {
    width: 100%;
    height: 15px;
    margin: 40px 0;
}

.line_img {
    width: 80%;
}

.main_container_stats {
    gap: 100px;
}

.amount_total {
    font-size: 50px;
}

.main_contaienr_daily_order p {
    font-size: 18px;
    width: 20px;
}
/* ----------MAIN---------- */
