
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */
:root{
    --font-dmsan:"DM Sans", sans-serif;
    --font-forum:"Forum", serif;

    --color-text-red:red;
    --color-text-white:white;
    --color-text-yellow:#e4c290;
    --color-text-black:black;

    --color-background-yellow:#e4c290;
    --color-background-black:black;
}

/* BODY */
body{
    background-image: url(./img/banner/banner-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

label{
    padding: 7px 0 5px 7px;
    color: var(--color-text-white);
}

h1{
    font-weight: 300;
    color: var(--color-text-white);
}

h1 span{
    color: var(--color-text-yellow);
}

p{
    color: var(--color-text-white);
}

a{
    text-decoration: none;
}

input{
    width: 100%;
    color: var(--color-text-white);
    border: 1px solid white;
    padding: 10px 0 10px 40px;
    border-radius: 7px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.145);
}

input:focus{
    outline: none;
    border: 1px solid #e4c290;
}

svg:hover{
    fill:var(--color-text-yellow);
    cursor: pointer;
}

/* ERROR */
.error {
    display: none;
    color: var(--color-text-red);
    font-size: 15px;
    margin-top: 5px;
}

.input_icon input:invalid:not(:placeholder-shown) + .error {
    display: block;
}

.input_icon input:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}

.input_icon input:valid:not(:placeholder-shown) {
    border: 1px solid green;
}

/* CONTAINER LOGIN */
.container_login{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN FORM */
.login_form{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 1000px;
    height: 500px;
}

/* LOGIN CHOICE */
.login_choice{
    display: flex;
    justify-content: space-between; 
}

/* LOGIN BUTTON BACK */
.login_button_back{
    display: flex;
}

.login_button_back button{
    color: var(--color-text-white);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.login_button_back a{
    color: var(--color-text-white);
}

/* LOGIN FORM SIGNUP */
.login_form_signup p{
    color: var(--color-text-white);
}

.login_form_signup a{
    color: var(--color-text-yellow);
}

/* LOGIN CONTINUE */
.login_continue{
    margin: 5px 0;
}

/* LOGIN EMAIL PASSWORD */
.login_email_password{
    display: flex;
    flex-direction: column;
}

/* INPUT ICON */
.input_icon{
    position: relative;
}

.icon{
    position: absolute;
    top: 13px;
    left: 13px;
}

/* LOGIN CHECKBOX FORGOT */
.login_checkbox_forgot{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

/* LOGIN CHECKBOX */
.login_checkbox{
    display: flex;
    gap: 5px;
}

.login_checkbox input{
    width: 20px;
    height: 20px;
}

/* LOGIN BUTTON DOWN */
.login_button_down{
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--color-background-yellow);
    width: 100%;
    height: 50px;
    padding: 8px 0;
    border-radius: 7px;
    color: var(--color-text-black);
    transition: 0.5s;
}

.login_button_down:hover{
    background-color:var(--color-background-black);
    color: var(--color-text-white);
    border: 1px solid #e4c290;
    cursor: pointer;
    background: transparent;
}

/* LOGIN SOCIAL MEDIA */
.login_social_media{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: var(--color-text-white);
}

.login_social_media p{
    width:30%;
    height: 1px;
    background-color: white;
}

/* LOGIN ICON */
.login_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
