
.title{
    font-size: 17px;
    font-weight: 600;
    color: var(--color-text-yellow);
    padding-bottom: 10px;
    letter-spacing:8px;
}

.img_separator{
    height: 25px;
    width: 170px;
    margin: 10px 0;
}

/* MAIN CONTAINER PARTY */
.main_container_party{
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/banner/banner-menu-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/* CONTAINER TITLE PARTY */
.container_title_party{
    flex-direction: column; 
}

.container_title_party h1{
    font-family: var(--font-forum);
    text-align: center;
    color: var(--color-text-white);
    font-size: 80px;
    font-weight: 300;
    margin: 10px 0;
}
/* MAIN CONTAINER START */
.main_container_amazing {
    position: relative;
    padding: 80px 170px;
    flex-direction: column;
}
.menu_slide_right{
    position: absolute;
    top: 0;
    right: 0;
}

.container_title_start {
    gap: 20px;
    flex-direction: column;
}

.container_title_start h2 {
    padding-bottom: 50px;
    color: var(--color-text-white);
    font-size: 50px;
    font-family: var(--font-forum);
    font-weight: 300;
}

.main_container_appetizers{
    
    gap: 30px;
    display: flex;
    width: 100%;
}
.container_appetizers_left{
    
    
    display: flex;
    width: 50%;
    height: 450px;
}
.line_appetizers_left{
    
width: 4%;
}
.line_appetizers_left img{
    
    width: 100%;
}
.menu_appetizers_left{
    width: 96%;
}




.container_appetizers_right{
    
    flex-direction: column;
    display: flex;
    gap: 50px;
    width: 50%;
}
.main_menu_food_name {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_menu_food_name p{
    font-family: var(--font-dmsan);
    color: var(--color-text-gray);
    font-size: 17px;
    font-weight: 500;
}
.main_menu_food_price {
    align-items: first baseline;
}

.main_menu_food_price h5 {
    font-weight: 300;
    width: 25%;
    font-size: 20px;
    margin: 0 0 20px 0;
}
.main_menu_food_price span{
    font-size: 20px;
}
.main_menu_line{
    width: 100%;
}
.menu_line {
    width: 98%;
    height: 1px;
    background-color: var(--color-text-yellow);
}

/* MAIN ONLINE SERVICE */
.main_online_service {
    background-image: url(./img/banner/banner-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.container_reserve {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

/* ONLINE RESERVATION */
.online_reservation {
    text-align: center;
    width: 65%;
    padding: 40px 60px;
}

.online_reservation h5 {
    color: var(--color-text-white);
    font-family: var(--font-forum);
    font-size: 70px;
    font-weight: 300;
    padding-bottom: 8px;
}

.online_reservation p {
    padding-bottom: 18px;
    color: var(--color-text-white);
    font-size: 20px;
}

/* RESERVE INPUT */
.reserve_input_top,
.reserve_input_down {
    gap: 20px;
}

.reserve_input_top input {
    width: 50%;
    height: 55px;
}

.reserve_input_top input {
    width: 50%;
    height: 55px;
    background-color: var(--color_background_gray_2);
    color: var(--color-text-yellow);
    border: 1px solid rgb(65, 65, 65);
    padding: 0 0 0 20px;
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
}

.reserve_input_down {
    padding: 50px 0;
}

.reserve_input_down input {
    width: 50%;
    height: 55px;
    background-color: var(--color_background_gray_2);
    color: var(--color-text-white);
    border: 1px solid rgb(65, 65, 65);
    padding: 0 0 0 20px;
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
}

.input_for_select {
    width: 50%;
    position: relative;
}

.input_for_select select {
    height: 55px;
    width: 100%;
    background-color: var(--color_background_gray_2);
    color: var(--color-text-white);
    border: 1px solid rgb(65, 65, 65);
    border-radius: 7px;
    padding: 0 0 0 20px;
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
}

.message_box textarea {
    height: 150px;
    width: 100%;
    max-width: 100%;
    min-width: 610px;
    background-color: var(--color_background_gray_2);
    color: var(--color-text-yellow);
    border: 1px solid rgb(65, 65, 65);
    padding: 20px 0 0 20px;
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
}

.reserve_button button {
    margin-top: 20px;
    width: 100%;
    height: 55px;
    border: 1px solid var(--color-text-yellow);
    transition: 1s;
}
.reserve_button:hover button {
    background-color: var(--color-background-black);
    color: var(--color-text-white);
    cursor: pointer;
    border: 1px solid var(--color-text-yellow);
    transition: 0.5s;
}

/* CONTAINER DEAL */
.container_deal {
    background-image: url(./img/banner/banner-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 40px 60px;
    width: 35%;
}

.deal_title {
    padding: 15px 0 50px 0;
}

.deal_title h4 {
    padding-bottom: 10px;
    text-align: center;
    color: var(--color-text-yellow);
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
}

.deal_title h5 {
    text-align: center;
    color: var(--color-text-white);
    font-size: 22px;
    font-weight: 300;
}

/* DEAL SQUARE */
.main_container_square {
    flex-direction: column;
}

.container_child_square {
    width: 60%;
    border-radius: 20px;
    border: 4px solid var(--color_background_black);
    background-color: var(--color_background_gray);
    text-align: center;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
}
.container_child_square::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background-color: var(--color_background_gray);
    z-index: 2;
}
.container_child_square::after{
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    border-radius: 20px;
    border: 4px solid var(--color_background_black); 
    background-color: var(--color_background_black);
    width: 100%;
    height: 100%;
    animation: rotate 6s linear infinite ;
}



.container_child_square span {
    position: relative;
    color: var(--color-text-yellow);
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
    z-index: 2;
}

.container_child_square h6 {
    position: relative;
    font-size: 60px;
    color: var(--color-text-white);
    font-weight: 100;
    padding: 20px 0;
    z-index: 2;
}

/* DEAL LIST */
.deal_list {
    gap: 5px;
    padding-top: 50px;
    flex-direction: column;
}

.container_deal ul li {
    color: var(--color-text-gray);
    font-size: 16px;
    font-family: var(--font-dmsan);
}

.container_deal_button button {
    background-color: var(--color_background_yellow);
    font-weight: 600;
    font-family: var(--font-dmsan);
    padding: 20px 100px;
    margin-top: 50px;
    border: 1px solid var(--color-text-yellow);
    transition: 1s;
}
.container_deal_button:hover button {
    background-color: black;
    color: var(--color-text-white);
    cursor: pointer;
    border: 1px solid var(--color-text-yellow);
    transition: 0.5s;
}