/* TITLE */
.title{
    font-size: 17px;
    font-weight: 600;
    color: var(--color-text-yellow);
    padding-bottom: 10px;
    letter-spacing:8px;
}

.img_separator{
    height: 25px;
    width: 170px;
    margin: 10px 0;
}

/* MAIN CONTAINER BOOK */
.main_container_book{
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/banner/banner-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/* CONTAINER TITLE BOOK */
.container_title_book{
    padding: 80px 0;
    flex-direction: column; 
}

.container_title_book h1{
    font-family: var(--font-forum);
    text-align: center;
    color: var(--color-text-white);
    font-size: 80px;
    font-weight: 300;
    margin: 10px 0;
}
.container_title_book h2{
    font-weight: 300;
    font-size: 60px;
}
.container_title_book:nth-child(1) p{
    font-family: var(--font-dmsan);
    padding: 30px 0 0px 0;
}
/* RESERVE INPUT */
.reserve_input_top,
.reserve_input_down{
    gap: 20px;
}

.reserve_input_top input{
    width: 40%;
    height: 55px;
    height: 55px;
    background-color: var(--color_background_gray_2);
    color: var(--color-text-yellow);
    border: 1px solid rgb(65, 65, 65);
    padding: 0 0 0 20px;
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
}

.reserve_input_down{
    padding: 50px 0;
}

.reserve_input_down input{
    width: 23.5%;
    height: 55px;
    background-color: var(--color_background_gray_2);
    color: var(--color-text-white);
    border: 1px solid rgb(65, 65, 65);
    padding: 0 0 0 20px;
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
}

.input_for_select{
    width: 27.5%;
    position: relative;
}

.input_for_select select{
    height: 55px;
    width: 100%;
    background-color: var(--color_background_gray_2);
    color: var(--color-text-white);
    border: 1px solid rgb(65, 65, 65);
    border-radius: 7px;
    padding: 0 0 0 20px;
    font-size: 20px;
    font-family: var(--font-dmsan);
    font-weight: 500;
}
.input_for_select select:focus{
    border: 1px solid white;
}

.arrow_button{
    position: absolute;
    right: 0;
    top: 0;
}

.reserve_button button{
    width: 30%;
    height: 55px;
    border: 1px solid var(--color-text-yellow);
transition: 1s
}
.reserve_button:hover button{
    background-color:var(--color-background-black);
    color: var(--color-text-white);
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--color-text-yellow);
    transition: 0.5s;
}

/* MAIN CONTAINER ICON */
.main_container_icon{
    gap: 80px;
    padding: 80px 0;
    max-width: auto;
}

/* CONTAINER ICON */
.container_icon{
    flex-direction: column;
    width: 17%;
}

.icon_img{
    width: 50%;
    height: 50%;
}

.icon_title{
    text-align: center;
}

.container_icon h4{
    padding-top: 15px;
    font-size: 25px;
    font-weight: 300;
    font-family: var(--font-forum);
    color: var(--color-text-white);
}

.container_icon p{
    padding: 15px 0;
    font-family: var(--font-dmsan);
    color: var(--color-text-gray);
}

.container_icon a{
    font-weight: 500;
    font-family: var(--font-dmsan);
    color: var(--color-text-yellow);
    position: relative;
}
.container_icon a::after{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: var(--color_background_yellow);
    transition: 0.5s;
    
}
.container_icon a:hover::after {
width: 100%;

}