*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* -----text font----- */
--font-dmsan:"DM Sans", sans-serif;
--font-forum:"Forum", serif;
    /* -----text color----- */
--color-text-white:white;
--color-text-red:red;
--color-text-yellow:#e4c290;
--color-text-black:black;
    /* -----background color----- */
--color-background-yellow:#e4c290;
--color-background-black:black;
}
body{
    background-image: url(./img/banner/banner-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
label{
    padding: 7px 0 5px 7px;
    color: var(--color-text-white);
}
h1 span{
    color: var(--color-text-yellow);
}
h1{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 200;
    color: var(--color-text-white);
}
a{
    color: var(--color-text-yellow);
    text-decoration: none;
}
p{
    font-family: var(--font-dmsan);
    color: var(--color-text-white);
}
input{
    width: 100%;
    color: var(--color-text-white);
    border: 1px solid white;
    padding: 10px 0 10px 40px;
    border-radius: 7px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.145);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
    display: none;
    color: var(--color-text-red);
    font-size: 15px;
    margin-top: 5px;
}
input:invalid:not(:placeholder-shown) + .error {
    display: block;
}
input:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}
input:valid:not(:placeholder-shown) {
    border: 1px solid green;
}
.container_signup{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_form{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 1100px;
    height: 620px;
}
.signup_button_back{
    display: flex;
}
.signup_button_back button {
    color: var(--color-text-white);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.signup_form_signup p{
    color: var(--color-text-white);
}
.signup_fill{
    margin: 10px 0;
}
.signup_email_password{
    font-family: var(--font-dmsan);
    display: flex;
    flex-direction: column;
}
.input_icon{
    position: relative;
}
.icon{
    position: absolute;
    top: 13px;
    left: 13px;
}
input:focus{
    outline: none;
    border: 1px solid #e4c290;
}
.signing_agree{
    display: flex;
    margin: 15px 0;
}
.login_button_down{
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--color-background-yellow);
    width: 100%;
    height: 50px;
    padding: 8px 0;
    border-radius: 7px;
    color: var(--color-text-black);
    border: 1px solid black;
    transition: 0.5s;
}
.login_button_down:hover{
    background-color:var(--color-background-black);
    color: var(--color-text-white);
    border: 1px solid#e4c290;
    cursor: pointer;
    background: transparent;
}
.login_social_media{
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: var(--color-text-white);
}
.login_social_media p{
    width:30%;
    height: 1px;
    background-color: white;
}
.login_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login{
    margin-top: 15px;
    text-align: center;
}