
/* --------MAIN-------- */
.title{
    font-size: 17px;
    font-weight: 600;
    color: var(--color-text-yellow);
    padding-bottom: 10px;
    letter-spacing:8px;
}

.img_separator{
    height: 25px;
    width: 170px;
    margin: 10px 0;
}


   /* MAIN CONTAINER - ABOUT */

.main_container_about{
    background:
    linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5)),
    url(../../img/banner/banner-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.container_title_about{
    flex-direction: column; 
}

.container_title_about h1{
    font-family: var(--font-forum);
    text-align: center;
    color: var(--color-text-white);
    font-size: 80px;
    font-weight: 300;
    margin: 10px 0;
}


   /* MAIN CONTAINER - AMAZING */

.container_title_amazing{
    gap: 20px;
    flex-direction: column;
    padding: 50px 0 0 0;
}

.container_title_amazing p{
    text-align: center;
    color: var(--color-text-white);
    font-family: var(--font-forum);
    font-size: 30px;
}
.container_title_amazing p span{
    font-size: 30px;
    text-align: center;
    color: var(--color-text-yellow);
    font-family: var(--font-forum);
}

    /* MAIN_CONTAINER_EXPERIENCE */
.container_chef_award{
    position: relative;
    gap: 20px;
    flex-direction: column;
    
}
.chef_left_right{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.chef_left_left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.container_chef_award p{
    text-align: center;
    color: var(--color-text-white);
    font-family: var(--font-dmsan);
    font-size: 17px;
    z-index: 2;
    line-height: 30px;
}
.container_chef_award span{
    color: var(--color-text-yellow);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 5px; 
    z-index: 2;
}
.container_chef_award h3{
    color: var(--color-text-white);
    font-size: 50px;
    font-family: var(--font-forum);
    font-weight: 300;
    z-index: 2;
}

.container_chef_award button{
    background-color: var(--color-background-yellow);
    padding: 20px 150px;
    border: 1px solid var(--color-text-yellow);
    transition: 1s
}
.button_down:hover button{
    color: var(--color-text-white);
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--color-text-yellow);
    transition: 0.5s;
}
   /* INFO INTRODUCE */

.container_info_introduce{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 27px;
    width: 100%;
}

.container_info_founder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_info_founder p ,span{
    font-size: 16px;
    font-family: var(--font-dmsan);
}

.container_info_founder,
.container_info_restaurant,
.container_info_time{
    width: 30%;
    height: 550px;
    overflow: hidden;
}

.restaurant_img{
    height: 100%;
}

.info_signature{
    width: 30%;
}

.info_video{
    position: relative;
}

.main_container_play_button{
    position: absolute;

    cursor: pointer;
    top: 75px;
    left: 155px;
    border: 1px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
 
}
.main_container_play_button::after{
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 1px solid white;
    animation: play 1.5s linear infinite;
}
@keyframes play{
    0%{
        
        width: 100%;
        height: 100%;
    }
    100%{
        opacity: 0;
        width: 150px;
        height: 150px;
    }
}

   /* TIME / CONTACT */

.container_info_time{
    border: 1px solid #e4c290;
}

.container_lunch_time{
    gap: 30px;
    flex-direction: column;
    border: 1px solid #e4c290;
    padding:83px 70px;
    text-align: center;
}

.container_lunch_time h4{
    padding-bottom: 10px;
    font-weight: 700;
    font-family: var(--font-dmsan);
}


   /* STATS */

.main_container_stats{
    padding-bottom: 50px;
    gap: 280px;
}

.amount_total span{
    font-size: 50px;
    font-weight: 300;
    font-family: var(--font-forum);
}

.main_container_daily_order p{
    font-weight: 600;
    font-family: var(--font-dmsan);
    font-size:18px;
    width: 50px;
}


   /* EXPERIENCE / CHEF */

.chef_img,
.chef_award{
    width: 50%;
}


   /* MAIN CONTAINER SERVICE */

.main_container_service{
    padding: 100px;
    position: relative;
}
.service_slide_food{
    position: absolute;
    top: -120px;
    left: -20px;
}
.service_slide_lemon{
    position: absolute;
    bottom: -50px;
    right: 0;
}
.container_title_service{
    flex-direction: column; 
}

.container_title_service h1{
    font-family: var(--font-forum);
    text-align: center;
    color: var(--color-text-white);
    font-size: 60px;
    font-weight: 300;
    margin: 10px 0;
}

.main_restaurant_service{
    margin-top: 100px;
    gap: 50px;
}


   /* SERVICE CONTENT */

.content_icon{
    padding: 40px 0;
    gap: 25px;
}

.content_text h4{
    padding-bottom: 10px;
    font-family: var(--font-forum);
    font-size: 30px;
    font-weight: 300;
}

.content_text p{
    color: var(--color-text-gray);
    font-family: var(--font-dmsan);
    font-weight: 400;
    font-size: 17px;
}

.icon img{
    border-radius: 50%;
    background-color:var(--color-background-gray);
}
.icon:hover img{
    transform: rotateY(180deg);
}

   /* MAIN SERVICE IMAGE */

.main_service{
    width: 300px;
    position: relative;
}

.service_food_img{
    position: relative;
    z-index: 2;
}

.service_img_after{
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    z-index: 1;
}


   /* ICON */

.icon_left,.icon_left{
    height: 7%;
}
/* --------MAIN-------- */